/vendor/
/node_modules/
/public/storage
/public/hot
/storage/*.key
/build/
.env
.phpunit.result.cache
.phpunit.cache

*.log
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.cache
dist

.idea/

/claude
/.claude
