.rich-text {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    ol {
        list-style: decimal;
    }

    ul {
        list-style: disc;
    }

    ol,
    ul {
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    h2 {
        font-family: var(--font-display), serif;
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    h3 {
        font-family: var(--font-display), serif;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    a {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
}
