.catalog-hero {
    padding-top: 8rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    & .catalog-hero__watermark {
        right: -2.5rem;
        position: absolute;
        opacity: 0.03;
        user-select: none;
        top: 5rem;
        pointer-events: none;

        & .catalog-hero__watermark-title {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 12rem;
            line-height: 1;
            letter-spacing: -0.05em;
        }
    }

    & .catalog-hero__content {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        gap: 1rem;
        z-index: 10;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: flex-end
        }

        & .catalog-hero__meta {
            font-size: 1.5rem;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 3.75rem;

            @media (min-width: 768px) {
                font-size: 6rem;
            }
        }

        & .catalog-hero__count {
            font-size: 1.125rem;
            font-weight: 700;
            margin-top: 0.5rem;
        }

        & .catalog-hero__filter-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 1rem 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 0.875rem;
        }
    }
}
